<launch>
  <!-- either PositionJointInterface, VelocityJointInterface or EffortJointInterface-->
  <!-- PositionJointInterface requires the custom panda controllers to be installed-->
  <!-- the setting here is important when using the joystick controller-->
  <arg name="panda_hi" default="VelocityJointInterface"/>
  <arg name="demo" default="false"/>
  <arg name="boxer_control_mode" default="single_wheel"/>
  <!-- GAZEBO arguments -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="use_rviz" default="false"/>

  <param name="panda_controller" value="$(arg panda_hi)"/>
  <param name="mmrobot/robot_description"
    command="$(find xacro)/xacro --inorder
      '$(find mobile_manipulator)/robot_description/mmrobot.urdf.xacro'
      panda_hi:=$(arg panda_hi)"
  />

  <param name="sphere_store_description"
    command="$(find xacro)/xacro --inorder 
      '$(find mobile_manipulator)/world/urdf/sphere_real.urdf.xacro'"/>

  <!--launch GAZEBO with own world configuration -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="debug" value="$(arg debug)"/>
      <arg name="gui" value="$(arg gui)"/>
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="headless" value="$(arg headless)"/>
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" ns="mmrobot" type="spawn_model" args="-param robot_description -urdf -model mmrobot"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param sphere_store_description -urdf -model sphereStore"/>

  <!--
  <node pkg="tf" type="static_transform_publisher" name="sphere_base" args="0.25 0 0.2 0 0 0 base_link sphere_base 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_0" args="5 5 0 0 0 0 odom sphere_0 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_1" args="1 4 0 0 0 0 odom sphere_1 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_2" args="-5 1 0 0 0 0 odom sphere_2 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_3" args="2.5 -4 0 0 0 0 odom sphere_3 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_4" args="0 2 2 0 0 0 odom sphere_4 10"/>
  -->

  <node pkg="tf" type="static_transform_publisher" name="sphere_0" args="-4 1.5 0 0 0 0 odom sphere_0 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_1" args="-4 1.5 0.5 0 0 0 odom sphere_1 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_2" args="-4 1.5 1 0 0 0 odom sphere_2 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_3" args="-4 1.0 0 0 0 0 odom sphere_3 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_4" args="-4 1.0 0.5 0 0 0 odom sphere_4 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_5" args="-4 1.0 1 0 0 0 odom sphere_5 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_6" args="-4 0.5 0 0 0 0 odom sphere_6 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_7" args="-4 0.5 0.5 0 0 0 odom sphere_7 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_8" args="-4 0.5 1 0 0 0 odom sphere_8 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_9" args="-4 0.0 0 0 0 0 odom sphere_9 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_10" args="-4 0.0 0.5 0 0 0 odom sphere_10 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_11" args="-4 0.0 1 0 0 0 odom sphere_11 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_12" args="-4 -0.5 0 0 0 0 odom sphere_12 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_13" args="-4 -0.5 0.5 0 0 0 odom sphere_13 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_14" args="-4 -0.5 1 0 0 0 odom sphere_14 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_15" args="-4 -1.0 0 0 0 0 odom sphere_15 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_16" args="-4 -1.0 0.5 0 0 0 odom sphere_16 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_17" args="-4 -1.0 1 0 0 0 odom sphere_17 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_18" args="-4 -1.5 0 0 0 0 odom sphere_18 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_19" args="-4 -1.5 0.5 0 0 0 odom sphere_19 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_20" args="-4 -1.5 1 0 0 0 odom sphere_20 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_21" args="-4 -2.0 0 0 0 0 odom sphere_21 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_22" args="-4 -2.0 0.5 0 0 0 odom sphere_22 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_23" args="-4 -2.0 1 0 0 0 odom sphere_23 10"/>

  <node pkg="tf" type="static_transform_publisher" name="sphere_24" args="-1.5 1.5 0 0 0 0 odom sphere_24 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_25" args="-1.5 1.5 0.5 0 0 0 odom sphere_25 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_26" args="-1.5 1.5 1 0 0 0 odom sphere_26 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_27" args="-1.5 1.0 0 0 0 0 odom sphere_27 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_28" args="-1.5 1.0 0.5 0 0 0 odom sphere_28 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_29" args="-1.5 1.0 1 0 0 0 odom sphere_29 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_30" args="-1.5 0.5 0 0 0 0 odom sphere_30 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_31" args="-1.5 0.5 0.5 0 0 0 odom sphere_31 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_32" args="-1.5 0.5 1 0 0 0 odom sphere_32 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_33" args="-1.5 0.0 0 0 0 0 odom sphere_33 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_34" args="-1.5 0.0 0.5 0 0 0 odom sphere_34 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_35" args="-1.5 0.0 1 0 0 0 odom sphere_35 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_36" args="-1.5 -0.5 0 0 0 0 odom sphere_36 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_37" args="-1.5 -0.5 0.5 0 0 0 odom sphere_37 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_38" args="-1.5 -0.5 1 0 0 0 odom sphere_38 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_39" args="-1.5 -1.0 0 0 0 0 odom sphere_39 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_40" args="-1.5 -1.0 0.5 0 0 0 odom sphere_40 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_41" args="-1.5 -1.0 1 0 0 0 odom sphere_41 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_42" args="-1.5 -1.5 0 0 0 0 odom sphere_42 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_43" args="-1.5 -1.5 0.5 0 0 0 odom sphere_43 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_44" args="-1.5 -1.5 1 0 0 0 odom sphere_44 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_45" args="-1.5 -2.0 0 0 0 0 odom sphere_45 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_46" args="-1.5 -2.0 0.5 0 0 0 odom sphere_46 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_47" args="-1.5 -2.0 1 0 0 0 odom sphere_47 10"/>

  <node pkg="tf" type="static_transform_publisher" name="sphere_48" args="1.0 1.5 0 0 0 0 odom sphere_48 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_49" args="1.0 1.5 0.5 0 0 0 odom sphere_49 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_50" args="1.0 1.5 1 0 0 0 odom sphere_50 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_51" args="1.5 1.5 0 0 0 0 odom sphere_51 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_52" args="1.5 1.5 0.5 0 0 0 odom sphere_52 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_53" args="1.5 1.5 1 0 0 0 odom sphere_53 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_54" args="2.0 1.5 0 0 0 0 odom sphere_54 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_55" args="2.0 1.5 0.5 0 0 0 odom sphere_55 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_56" args="2.0 1.5 1 0 0 0 odom sphere_56 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_57" args="2.5 1.5 0 0 0 0 odom sphere_57 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_58" args="2.5 1.5 0.5 0 0 0 odom sphere_58 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_59" args="2.5 1.5 1 0 0 0 odom sphere_59 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_60" args="3.0 1.5 0 0 0 0 odom sphere_60 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_61" args="3.0 1.5 0.5 0 0 0 odom sphere_61 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_62" args="3.0 1.5 1 0 0 0 odom sphere_62 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_63" args="3.5 1.5 0 0 0 0 odom sphere_63 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_64" args="3.5 1.5 0.5 0 0 0 odom sphere_64 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_65" args="3.5 1.5 1 0 0 0 odom sphere_65 10"/>

  <node pkg="tf" type="static_transform_publisher" name="sphere_66" args="1.0 -1.0 0 0 0 0 odom sphere_66 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_67" args="1.0 -1.0 0.35 0 0 0 odom sphere_67 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_68" args="1.5 -1.0 0 0 0 0 odom sphere_68 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_69" args="1.5 -1.0 0.35 0 0 0 odom sphere_69 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_70" args="2.0 -1.0 0.5 0 0 0 odom sphere_70 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_71" args="2.0 -1.0 0.35 0 0 0 odom sphere_71 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_72" args="1.0 -1.5 0 0 0 0 odom sphere_72 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_73" args="1.0 -1.5 0.35 0 0 0 odom sphere_73 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_74" args="1.5 -1.5 0 0 0 0 odom sphere_74 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_75" args="1.5 -1.5 0.35 0 0 0 odom sphere_75 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_76" args="2.0 -1.5 0.5 0 0 0 odom sphere_76 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_77" args="2.0 -1.5 0.35 0 0 0 odom sphere_77 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_78" args="1.0 -2.0 0 0 0 0 odom sphere_78 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_79" args="1.0 -2.0 0.35 0 0 0 odom sphere_79 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_80" args="1.5 -2.0 0 0 0 0 odom sphere_80 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_81" args="1.5 -2.0 0.35 0 0 0 odom sphere_81 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_82" args="2.0 -2.0 0 0 0 0 odom sphere_82 10"/>
  <node pkg="tf" type="static_transform_publisher" name="sphere_83" args="2.0 -2.0 0.35 0 0 0 odom sphere_83 10"/>
  <!-- State publisher -->
  <node name="mm_state_publisher" pkg="mobile_manipulator" type="curStatePublisherMM"/>

  <include file="$(find mobile_manipulator)/launch/mmrobot_control.launch">
    <arg name="use_rviz" value="$(arg use_rviz)"/>
    <arg name="panda_hi" value="$(arg panda_hi)"/>
    <arg name="boxer_control" value="$(arg boxer_control_mode)"/>
  </include>

  <group if="$(arg demo)">
    <node name="demo_node" pkg="mobile_control" type="simpleTestControls.py"/>
  </group>

    

</launch>
