<launch>
  <!-- either PositionJointInterface, VelocityJointInterface or EffortJointInterface-->
  <!-- PositionJointInterface requires the custom panda controllers to be installed-->
  <!-- the setting here is important when using the joystick controller-->
  <arg name="panda_hi" default="EffortJointInterface"/>
  <arg name="boxer_control_mode" default="diff_drive"/>
  <!-- GAZEBO arguments -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find mobile_manipulator)/launch/empty_world.launch" >
    <arg name="panda_hi" value="$(arg panda_hi)"/>
    <arg name="boxer_control_mode" value="$(arg boxer_control_mode)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <include file="$(find mobile_manipulator)/launch/store.launch"/>
  <!-- Load the gazebo params, PID error fix -->
  <rosparam ns="mmrobot" command="load" file="$(find mobile_control)/config/gazebo_pid.yaml"/>
</launch>
