<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="boxer_transmission" params="robot_name">
        <!-- Load Gazebo lib and set the robot namespace -->
        <gazebo>
            <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
                <robotNamespace>/${robot_name}</robotNamespace>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>
