<?xml version="1.0"?>
<robot name="boxer" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find mobile_manipulator)/boxer_custom_description/urdf/boxer.xacro"/>
  <xacro:include filename="$(find mobile_manipulator)/boxer_custom_description/urdf/boxer.gazebo.xacro"/>


  <xacro:boxer_description/>

</robot>
